@if (Model != null)
{
    <div class="mt-4">
        <h4>Retorno:</h4>
        <ul>
            <li>
                <strong>Name servers</strong>
                (@Model.WhoIs.Replace("Name Server:", "").Trim())
            </li>

            <li>
                <strong>IP do registro A</strong>
                (@Model.Ip)
            </li>

            <li>
                <strong>Empresa que está hospedado</strong>
                (@Model.HostedAt)
            </li>
        </ul>
    </div>
}